In [1]:
import pandas as pd

#Load data from csv
student_data_to_load = pd.read_csv(r"C:\Users\shail\School_District_Analysis\Resources\students_complete.csv")
school_data_to_load = pd.read_csv(r"C:\Users\shail\School_District_Analysis\Resources\schools_complete.csv")

#Print both data frames
#school_data_to_load

# Add student data to data frame
student_data_df = pd.DataFrame(student_data_to_load)
school_data_df = pd.DataFrame(school_data_to_load)

#Determine any missing values in the school data
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [2]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [3]:
#See if any value is null or not in school data
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [4]:
#See if any value is null or not in student data and sum it up 
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [5]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [6]:
#Remove all the professional prefix/suffix from thw student names
prefixes_suffixes =["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

#Updated existing dataframe with cleaned names 
for word in prefixes_suffixes:
    student_data_df["student_name"]= student_data_df["student_name"].str.replace(word,"")

student_data_df

C:\Users\shail\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [7]:
school_data_complete_df = pd.merge(student_data_to_load,school_data_to_load,on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [9]:
total_schools = school_data_complete_df["school_name"].tolist()
set(total_schools)

{'Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School'}

In [10]:
total_schools_2 = school_data_complete_df["school_name"].unique()
total_schools=len(total_schools_2)
total_schools

15

In [11]:
#school_data_df
#total_budget = school_data_df["budget"].sum()
total_budget=school_data_df["budget"].sum()
total_budget

24649428

In [12]:
average_readingScore=school_data_complete_df["reading_score"].mean()
average_readingScore

81.87784018381414

In [13]:
average_mathScore=school_data_complete_df["math_score"].mean()
average_mathScore

78.98537145774827

In [14]:
passing_math=school_data_complete_df["math_score"]>=70
passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [15]:
#Get all records who scored >= 70 in maths
passing_math=school_data_complete_df[school_data_complete_df["math_score"]>=70]
passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [16]:
#Get all records who scored >= 70 in reading
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70]
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [17]:
#Count no of students who passed math
passing_math_count = passing_math["student_name"].count()
print(passing_math_count)
#Count no of students who passed reading
passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

29370
33610

In [18]:
#percentage of students who passed math
perct_math=passing_math_count/float(student_count) *100
print(perct_math)

#percentage of students who passed reading
perct_reading=passing_reading_count/float(student_count) *100
print(perct_reading)

74.9808526933878
85.80546336482001

In [19]:
#count no of students who passed both math and reading together
passing_math_reading=school_data_complete_df[(school_data_complete_df["reading_score"]>=70) & (school_data_complete_df["math_score"]>=70)]
print(passing_math_reading.head())

   Student ID    student_name gender grade        school_name  reading_score  \
4           4      Bonnie Ray      F   9th  Huang High School             97
5           5   Bryan Miranda      M   9th  Huang High School             94
6           6   Sheena Carter      F  11th  Huang High School             82
8           8    Michael Roth      M  10th  Huang High School             95
9           9  Matthew Greene      M  10th  Huang High School             96

   math_score  School ID      type  size   budget
4          84          0  District  2917  1910635
5          94          0  District  2917  1910635
6          80          0  District  2917  1910635
8          87          0  District  2917  1910635
9          84          0  District  2917  1910635

In [20]:
#count what we calculated above
passing_both_count=passing_math_reading["student_name"].count()
print(passing_both_count)

25528

In [21]:
# % of total students who passed in both
perct_both=passing_both_count/float(student_count)*100
print(perct_both)

65.17232575950983

In [22]:
#Createlist of dictionaries and add that to new dataFrame
district_summary_df = pd.DataFrame(
                    [{"Total Schools":total_schools,
                     "Total Students":student_count,
                     "Total Budget":total_budget,
                     "Average Math Score":average_mathScore,
                     "Average Reading Score":average_readingScore,
                     "% Passing Math":perct_math,
                     "% Passing Reading":perct_reading,
                     "% Overall Passing": perct_both}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [23]:
district_summary_df["Total Students"]= district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [24]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [25]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.1f}".format)
district_summary_df["Average Reading Score"]

0    81.9
Name: Average Reading Score, dtype: object

In [26]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.1f}".format)
district_summary_df["Average Math Score"]

0    79.0
Name: Average Math Score, dtype: object

In [27]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Passing Reading"]

0    86
Name: % Passing Reading, dtype: object

In [28]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Math"]

0    75
Name: % Passing Math, dtype: object

In [29]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df["% Overall Passing"]

0    65
Name: % Overall Passing, dtype: object

In [ ]:
district_summary_df